<app-menu></app-menu>

<router-outlet></router-outlet>
<!--<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>  
</div>

<button (click)="mostrarNombre()"
        pButton 
        class="p-button-help mb-3"
        type="button" 
        label="mostrar nombre"
        icon="pi pi-check" 
        iconPos="right">
</button>

<p-card header="Titulo Tarjeta"
        subheader="Subtitulo">
  <p>Aca va el texto de la tarjeta que deberia ser largo para que se visualice bien</p>
  <ng-template pTemplate="header">
      Header content here
  </ng-template>
  Body Content
  <ng-template pTemplate="footer">
      Footer content here
  </ng-template>
</p-card>-->